@import url("https://fonts.googleapis.com/css?family=Lacquer&display=swap");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

title {
	color: black;
}

body {
	font-family: 'Lacquer', sans-serif;
	font-size: 18px;
	margin: 0px;
	color: black 
}
h1,{
	font-family: 'Lacquer', sans-serif;
	font-weight: normal;}
h2,h3, { 
	font-family: 'Lacquer', sans-serif;
	font-weight: normal;}
h4, { 
	font-family: 'Lacquer', sans-serif;
	font-weight: lighter;
	}

a {
	text-decoration: none;
}
